<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>

<div class="container-fluid no-padding">
  <div class="row">


    <div *ngFor="let roomStatus of Rooms" class="card col-xl-6 col-md-12 col-sm-12 col-xs-12" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          {{roomStatus.roomName}}  <span class="card-text" data-toggle="tooltip" data-placement="top" title=" {{roomStatus.lastTemperatureRefresh}}"> {{roomStatus.currentTemperature}}°C</span>
        </h5>

        <div class="table-responsive">

          <table class="table">
            <tr>
              <th *ngFor="let temperature of roomStatus.temperatures"> {{temperature.temperatureDate | date : 'EEE'}}</th>
            </tr>
            <tr>
              <td *ngFor="let temperature of roomStatus.temperatures"> {{temperature.minTemp | number : '1.1-1'}}</td>
            </tr>
            <tr>
              <td *ngFor="let temperature of roomStatus.temperatures"> {{temperature.maxTemp | number : '1.1-1'}}</td>
            </tr>
          </table>
          </div>
        </div>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>
