<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#temp">Température</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#device">Appareils</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#music">Music</a>
  </li>
</ul>

<div class="tab-content">
  <div id="temp" class="tab-pane fade show active">
    <div [chart]="chart"></div>
    <div class="container-fluid no-padding">
      <div class="row">
        <div *ngFor="let roomStatus of Rooms" class="card col-xl-6 col-md-12 col-sm-12 col-xs-12" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              {{roomStatus.roomName}}  <span class="card-text" data-toggle="tooltip" data-placement="top" title=" {{roomStatus.lastTemperatureRefresh}}"> {{roomStatus.currentTemperature}}°C</span>
            </h5>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th *ngFor="let temperature of roomStatus.temperatures"> {{temperature.temperatureDate | date : 'EEE'}}</th>
                </tr>
                <tr>
                  <td *ngFor="let temperature of roomStatus.temperatures"> {{temperature.minTemp | number : '1.1-1'}}</td>
                </tr>
                <tr>
                  <td *ngFor="let temperature of roomStatus.temperatures"> {{temperature.maxTemp | number : '1.1-1'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="device" class="tab-pane fade">
    <div class="container-fluid no-padding">
      <div class="row">
        <div *ngFor="let deviceStatus of Devices" class="card col-xl-6 col-md-12 col-sm-12 col-xs-12" style="width: 18rem;">
          <div class="card-title">
            <h5 class="card-title">{{deviceStatus.deviceName}}</h5>
          </div>
          <div class="card-body">
            Status :{{deviceStatus.status}} value :{{deviceStatus.value}}<br />
            Last status date: {{deviceStatus.valueDate}}<br />
            Id :{{deviceStatus.device_ID}}<br />
            <div *ngIf="deviceStatus.IsSwitch()">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" (click)="PowerOn(deviceStatus.device_ID)" class="btn btn-success">On</button>
                  <button type="button" (click)="PowerOff(deviceStatus.device_ID)" class="btn btn-danger">Off</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
  </div>
  <div id="music" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
